---
title: Contributions
permalink: "/contributions/"
layout: page
---

<a href="{{ site.baseurl }}/" class="small-logo">
  {% include logo-anim-small.html %}
</a>

<div class="contributors-content">
  {% assign sorted = site.contributors | sort: 'position' %}
  {% for contributor in sorted %}
    <div class="contributor-container">
      <h2>
        {% if contributor.link %}
          <a target="_blank" href="{{ contributor.link }}">
            {{ contributor.title }} <img src="{{site.baseurl}}/assets/images/arrow-link-white.svg" alt="Arrow top left">
          </a>
        {% else %}
          {{ contributor.title }}
        {% endif %}
      </h2>
      <h3>{{ contributor.role }}</h3>
    </div>
  {% endfor %}
</div>
