---
title: Contributions
permalink: "/contributions/"
layout: page
---

<a href="{{ site.baseurl }}/" class="small-logo">
  {% include logo-anim-small.html %}
</a>

<div class="contributors-content">
  {% assign sorted = site.contributors | sort: 'date' %}
  {% for contributor in sorted %}
    <div class="contributor-container">
      <h2>{{ contributor.name }}</h2>
      <h3>{{ contributor.role }}</h3>
      {% if contributor.link %}
        <a href="{{ contributor.link }}">website</a>
      {% endif %}
    </div>
  {% endfor %}
</div>
