.contributors {
  background-color: $dark-color;
  min-height: 100vh;
}

.contributors-content {
  width: 64%;
  margin: 0 30% 0 0;
  color: $light-color;
  padding: $spacing-unit*2 $spacing-unit*4;
  @include flexbox;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include media-query($break-medium){
    width: 72%;
    //flex-direction: column;
    padding: $spacing-unit $spacing-unit*2;
  }

  @include media-query($break-small){
    width: 80%;
    flex-direction: column;
    padding: $spacing-unit;
  }
}


.contributor-container {
  display: block;
  width: 50%;
  margin: 0 0 $spacing-unit;

  @include media-query($break-small){
    width: 100%;
    margin: 0 0 $spacing-unit;
  }

  h2 {
    margin: 0 0 $spacing-unit/4;
    font-family: $serif-font;
    font-size: 26px;

    @include media-query($break-small) {
      font-size: 24px;
    }
  }

  h3 {
    margin: 0 0 $spacing-unit/3;
    font-family: $gothic-font;
    font-size: 20px;

    @include media-query($break-small) {
      font-size: 18px;
    }
  }

  a, a:visited {
    font-family: $gothic-font;
    font-size: 20px;
    color: $light-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
