.home {
  //display: none !important;
}

.logo-fixed-cover {
  position: fixed;
  @include flexbox;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .logo {
    width: 100%;
    display: none;
  }

  .logo-one {
    display: block;
  }
}

.baseline {
  position: absolute;
  width: 100%;
  z-index: 5;
  text-align: center;
  bottom: 150px;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.2s;
  font-family: $gothic-font;
  //color: #8a8a8a;

  &.hidden {
    opacity: 0;
  }
}

.home-content {
  margin: 0 auto 100vh;
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: $gothic-font;

  .content-fake-padding {
    width: 100%;
    height: 1500px;
  }

  a {
    color: $dark-color;
    text-decoration: none;

    &:hover {
      color: $dark-color;
      text-decoration: none;
    }

    &:active {
      color: $dark-color;
      text-decoration: none;
    }
  }
}

.release-container {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  @include flexbox;
  justify-content: center;
  align-items: center;

  &:nth-child(even) {
    flex-direction: row;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .description-background {
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: $dark-color;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
  }

  &:nth-child(even) {
    .release-description-container {
      padding: 0 0 0 $spacing-unit*6;
    }
  }

  &:nth-child(odd) {
    .release-description-container {
      padding: 0 $spacing-unit*4 0 $spacing-unit;
    }
  }
}

.release-description-container {
  display: block;
  position: relative;
  z-index: 5;
  width: 500px;
  opacity: 0;
  color: white;
  pointer-events: none;
  text-align: left;

  h2 {
    font-family: $gothic-font;
    font-size: 70px;
    margin: 0 0 17px;
  }

  h3 {
    font-family: $gothic-font;
    font-size: 32px;
    margin: -5px 0 $spacing-unit/3;
  }

  h4 {
    color: white;
    font-family: $serif-font;
    font-size: 24px;
    margin: 0 0 $spacing-unit*1.5;

    a, a:visited {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  table {
    font-family: $gothic-font;
    font-size: 20px;

    td {
      line-height: 28px;
      padding: 0 $spacing-unit/2 0 0;
    }
  }
}

.release-link {
  display: block;
  position: relative;
  z-index: 10;
  width: 40%;
  height: auto;
  //height: 60vh;
  @include transform(rotate(22deg));

  img {
    width: 100%;

    &.black {
      display: block;
    }
    &.white {
      display: none;
    }
  }

  &:hover {
    img {
      &.black {
        display: none;
      }
      &.white {
        display: block;
      }
    }

    + .description-background {
      opacity: 1;

      + .release-description-container {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
