.logo-fixed-cover {
  position: fixed;
  @include flexbox;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .logo {
    width: 100%;
    display: none;
  }

  .logo-one {
    display: block;
  }
}

.baseline {
  position: absolute;
  width: 100%;
  z-index: 5;
  text-align: center;
  bottom: 150px;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.2s;
  font-family: $gothic-font;
  //color: #8a8a8a;

  &.hidden {
    opacity: 0;
  }
}

.home-content {
  margin: 4000px auto 200px;
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: $gothic-font;

  h2, h3 {
    font-size: 35px;
  }
}
