.bali-landing-container {
  display: flex;
  background-color: #FFF6EA;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bali-logo {
  width: 200px;
}

.bali-illu {
  width: 100%;
  max-width: 800px;
}

.bali-title {
  width: 400px;
  margin-top: -60px;
}

.bali-enter {
  width: 90px;
  margin-top: 60px;
}
