<footer class="site-footer">

  <div class="footer-left-column">
    {{ site.pages[1].footer-title }}<br/><br/>
    {{ site.pages[1].contact }}<br/><br/>
    <a target="_blank" href="https://www.facebook.com/objetpapier/">Facebook</a><br/>
    <a target="_blank" href="#">Instagram</a><br/><br/>
    Website design <br/>
    & development&thinsp;: <br/>
    <a target="_blank" href="http://morganebartoli.com/">Morgane Bartoli</a> &<br/>
    <a target="_blank" href="http://alune.fr">Corentin Moussard</a><br/><br/>
    <a href="{{ site.baseurl }}/contributions/">Contributions</a>


  </div>
  <div class="footer-right-column">
    {{ site.pages[1].content }}
  </div>



</footer>
