<footer class="site-footer">

  <div class="footer-left-column">
    <div class="footer-column-ception">
      {{ site.pages[1].footer-title }}<br/><br/>
      <a href="mailto:{{ site.pages[1].contact }}">{{ site.pages[1].contact }}</a><br/><br/>
      <a target="_blank" href="{{ site.pages[1].facebook }}">Facebook</a><br/>
      <a target="_blank" href="{{ site.pages[1].instagram }}">Instagram</a><br/><br class="br-death"/>
    </div>
    <div class="footer-column-ception">
      Website design <br/>
      & development&thinsp;: <br/>
      <a target="_blank" href="http://morganebartoli.com/">Morgane Bartoli</a> &<br/>
      <a target="_blank" href="http://alune.fr">Corentin Moussard</a><br/><br/>
      <a class="contributor-link" href="{{ site.baseurl }}/contributions/">Amis</a><br/><br/><br/>
      <a target="_blank" class="contributor-link" href="{{ site.baseurl }}/lab/">Laboratoire</a>
    </div>
  </div>

  <div class="footer-right-column">
    {{ site.pages[1].content }}
  </div>

</footer>
