<footer class="site-footer">

  <div class="footer-left-column">
    Organisation à but non lucratif à Montreuil, Ile-De-France, France.<br/><br/>
    Pour toutes demandes&thinsp;: <br/>
    hello@objetpapier.fr<br/><br/>
    Suivez nous sur&thinsp;: <br/>
    <a target="_blank" href="https://www.facebook.com/objetpapier/">Facebook</a><br/>
    <a target="_blank" href="#">Instagram</a><br/><br/>
    Website design & development&thinsp;: <br/>
    <a target="_blank" href="http://morganebartoli.com/">Morgane Bartoli</a> &<br/>
    <a target="_blank" href="http://alune.fr">Corentin Moussard</a>
  </div>
  <div class="footer-right-column">
    Objet Papier est un jeune label de micro-édition montreuillois
    qui publie des fanzines de photographies, montages, mots et
    expérimentations diverses.<br/>
    Le label est un collectif à géométrie variable regroupé autour
    de son initiateur Ronan Deshaies. Il tend à proposer des cartes
    blanches graphiques et littéraires en utilisant le médium de
    l’édition papier mais en s’affranchissant des limites traditionnelles
    de celui-ci.
  </div>

</footer>
