---
layout: t-shirts
---


<div class="t-shirt-wrapper">
  <div class="logo-container">
    <div class="logo-half">{% include half-logo-objet.html %}</div>
    <div class="logo-half">{% include half-logo-papier.html %}</div>
  </div>

  <div class="t-shirt-values">
    <div class="values-line bold">
      <div>x</div>
      <div>y</div>
      <div>r</div>
    </div>
    <div class="values-line">
      <div class="x-value-1">1</div>
      <div class="y-value-1">2</div>
      <div class="r-value-1">3</div>
    </div>
    <div class="values-line">
      <div class="x-value-2">4</div>
      <div class="y-value-2">5</div>
      <div class="r-value-2">6</div>
    </div>
  </div>
</div>