---
layout: simple
---

<!-- <div class="bali-landing-container">
  <img class="bali-logo" src="{{ site.baseurl }}assets/images/bali-logo-landing.jpg" alt="Objet Papier 006">
  <img class="bali-illu" src="{{ site.baseurl }}assets/images/bali-illu-landing.jpg" alt="Illustration Mamzelle Heing Bali">
  <img class="bali-title" src="{{ site.baseurl }}assets/images/bali-title-landing.jpg" alt="Bali, Feuilles raportées - Mamzelle Heing">
  <a href="{{ site.baseurl }}home">
    <img class="bali-enter" src="{{ site.baseurl }}assets/images/bali-enter-landing.jpg" alt="Entrer sur le site">
  </a>
</div> -->

<!-- <div class="landing-generic">
  <span></span>
  {% include logo-anim-small.html %}
  <a class="enter-link" href="{{ site.baseurl }}/home">entrer</a>
</div> -->

<div class="landing-container">
  <div class="print-it-landing-text">
      OP007 coming soon<br/>
      <span>disponible le 16 mars</span>
    </div>
  
  <div class="landing-print-it">
    
    <div class="print-it-title">
      <img src="{{site.baseurl}}/assets/images/print-it-logo.svg" alt="Print-it">
    </div>
    
  </div>
  
  <a class="enter-link" href="{{ site.baseurl }}/home">entrer</a>
</div>