---
layout: default
---

<div class="home">

  <div class="logo-fixed-cover">
    {% include logo-animation.html %}
  </div>

  <div class="baseline">
    Label de micro-édition
  </div>

  <div class="home-content">
    {% for release in site.op-release %}
      <div class="release-container">
        <a class="release-link" href="{{ release.url }}">
          <img src="uploads/{{ release.cover-image }}" alt="">
        </a>
        <div class="description-background"></div>
        <div class="release-description-container">
          <h2>{{ release.number }}</h2>
          <h3>{{ release.name }}</h3>
          <h4>par {{ release.auteur }}</h4>
          <table>
            <tr>
              <td>Format</td>
              <td>{{ release.format }}</td>
            </tr>
            <tr>
              <td>Pages</td>
              <td>{{ release.pages }}</td>
            </tr>
            <tr>
              <td>Reliure</td>
              <td>{{ release.reliure }}</td>
            </tr>
            <tr>
              <td>Impression</td>
              <td>{{ release.impression }}</td>
            </tr>
            <tr>
              <td>Exemplaires</td>
              <td>{{ release.exemplaires }}</td>
            </tr>
            <tr>
              <td>Prix</td>
              <td>{{ release.prix }}</td>
            </tr>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

</div>
