---
layout: simple
---

<div class="bali-landing-container">
  <img class="bali-logo" src="{{ site.baseurl }}assets/images/bali-logo-landing.jpg" alt="Objet Papier 006">
  <img class="bali-illu" src="{{ site.baseurl }}assets/images/bali-illu-landing.jpg" alt="Illustration Mamzelle Heing Bali">
  <img class="bali-title" src="{{ site.baseurl }}assets/images/bali-title-landing.jpg" alt="Bali, Feuilles raportées - Mamzelle Heing">
  <a href="{{ site.baseurl }}home">
    <img class="bali-enter" src="{{ site.baseurl }}assets/images/bali-enter-landing.jpg" alt="Entrer sur le site">
  </a>
</div>

<div class="landing-generic" onclick="window.location = '{{ site.baseurl }}/home'">
  <span></span>
  {% include logo-anim-small.html %}
  <a class="enter-link" href="{{ site.baseurl }}/home">entrer</a>
</div>

<div class="landing-container">
  <div class="print-it-landing-text">
    Snap-it, la typographie conçue pour OP007 Print-it<br/>
    <a href="{{site.baseurl}}/snap-it/" target="_blank">Visiter le site spécimen</a> | 
    <a href="https://gitlab.com/Alune/snap-it-mono-font" target="_blank">Télécharger la Snap-it</a> |
    <a href="{{site.baseurl}}/print-it/" target="_blank">Site Print-it</a>
  </div>
  
  <div class="landing-snap-it">
    <img class="snap-it-cover" src="{{site.baseurl}}/assets/images/snap-it-cover.svg" alt="snap-it font">
  </div>
  
  <a class="enter-link white" href="{{ site.baseurl }}/home">Entrer</a>
</div>