<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="project-header">
      <a class="back-home-link" href="{{ site.baseurl }}/">
        {% include logo-animation.html %}
      </a>
    </div>

    <div class="project-page-content">
      <div class="project-fake-margin"></div>
      {% for image in page.images %}
        <img class="project-image" src="{{ site.baseurl }}/uploads/{{ image }}">
      {% endfor %}
    </div>

    <div class="project-description-container">
      <div class="project-metadatas">
        <h2>{{ page.number }}</h2>
        <h3>{{ page.name }}</h3>
        <h4>par <a target="_blank" href="{{ page.auteur.website }}">{{ page.auteur.name }}</a></h4>
        <table>
          <tr><td>Format</td><td>{{ page.format }}</td></tr>
          <tr><td>Pages</td><td>{{ page.nb-pages }}</td></tr>
          <tr><td>Reliure</td><td>{{ page.reliure }}</td></tr>
          <tr><td>Impression</td><td>{{ page.impression }}</td></tr>
          <tr><td>Exemplaires</td><td>{{ page.exemplaires }}</td></tr>
          <tr><td>Prix</td><td>{{ page.prix }} </td></tr>
        </table>
        <a class="buy-link" href="#">Acheter</a>
      </div>
      <div class="project-page-description">
        {{ content }}
      </div>
    </div>

    {% include js.html %}

  </body>

</html>
